body {
  background-color: #151515;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  min-height: 2000px;
}

/* Navbar Start */
.mynavbar.scroll {
  background-color: rgba(65, 65, 65, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar a {
  color: rgb(225, 225, 225);
  font-weight: 500;
  position: relative;
}
.mynavbar #active {
  font-weight: bold;
}
/* Animasi Navbar start */
.navbar-nav.topBotomBordersOut a:before,
.navbar-nav.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.navbar-nav.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

.navbar-nav.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

.navbar-nav.topBotomBordersOut a:hover:before,
.navbar-nav.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
/* animasi navbar end */

/* Navbar End */

/* Hero Start*/

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/Banner.png);
  z-index: -1;
  filter: brightness(0.6);
}

.hero {
  min-height: 100vh;
}

.hero main {
  margin-bottom: 10rem;
}

.hero h1 {
  font-size: 8rem;
  font-weight: bold;
}

.hero h4 {
  font-size: 2rem;
  font-weight: 600;
}

.hero a {
  font-size: 1.4rem;
}

/* Hero End */

/* Profile Start */
.profile {
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.profile .row .col-md-4 {
  background-image: url(../img/perpus.png);
  background-size: cover;
  background-position: center;
}

.profile .row .col h1 {
  font-size: 3.2rem;
}

.profile .row .col .btn {
  font-size: larger;
}
/* Profile End */

/* Media Query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  /* navbar start */
  .navbar-brand img {
    width: 75%;
  }
  /* navbar end */
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  /* Navbar Start */
  .navbar-brand img {
    width: 65%;
  }
  .offcanvas-header h5 {
    font-size: 2rem;
    font-weight: 700;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  /* Navbar End */
  /* Hero Start */
  .hero {
  }
  /* Hero End */
  /* profile start */
  .profile .row .col h1 {
    font-size: 1.9rem;
  }
  /* profile end */
}

/* mobile phone */

@media (max-width: 576px) {
  html {
    font-size: 60% !important;
  }
  /* Navbar Start */
  .navbar-brand img {
    width: 60%;
  }
  /* Navbar End */

  /* Hero Start */
  .hero h1 {
    font-size: 6rem;
    font-weight: bold;
  }
  /* Hero End */

  .profile .row .col h1 {
    /* font-size: 2rem; */
  }
}
